.thead-blue th{
    color:#fff;
    background-color:#0b7ef1;
    border-color:#0a7ff4
}
.bg-blue{
    background-color:#0b7ef1!important
}
.bg-argent{
    background-color:rgba(211, 205, 205, 0.869)!important
}